.app-bar-anchor {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    z-index: 10;
}
.app-bar-container  {
    font-size: 12pt;
    background-color: royalblue; /*rgba(0,0,255,0.5);*/
    opacity: 0.3;
    color: white;
    border-radius: 0 0 5px 5px;
    margin: 0 -25em;
    width: 50em;
    text-align: center;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}
.app-bar-container:hover {
    opacity: 0.8;
}

.app-bar-item {
    font-weight: bold;
    display: inline-block;
    color: #d3d3d3;
}
.app-bar-item:hover {
    color: white;
}
.app-bar-item a:link, .app-bar-item a:hover, .app-bar-item a:visited, .app-bar-item a:active, .app-bar-separator {
    color: #d3d3d3;
    text-decoration: none;
}
.app-bar-item a:hover {
    color: white;
}
.app-bar-separator {
    display: inline-block;
    margin: 0 3px;
}

.app-title {
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.menu-button-icon {
/*    vertical-align: middle;
    margin: 5px;*/
    background-image: url("/assets/tracking/images/mainmenu.png");
    width: 16px;
    height: 16px;
}
