<div class="left-folding-window-${id}">
    <div class="left-folding-window-fold-button-${id}" data-dojo-attach-event="onclick:foldButtonClick"></div>
    <div data-dojo-attach-point="containerNode" style="position: relative; width: 100%; height: 100%;"></div>
</div>