.left-folding-window-${id} {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: ${width}px;
    margin: 0;
    padding: 5px;
    border-right: 1px solid gray;
    background-color: rgba(255,255,255,0.75);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
}
.left-folding-window-fold-${id} {
    left: -${width}px;
}
.left-folding-window-fold-${id} .left-folding-window-fold-button-${id} {
    background-image: url("/assets/tracking/images/resultset_next.png");
}
.left-folding-window-fold-button-${id} {
    position: absolute;
    width: 16px;
    top: 0;
    bottom: 0;
    right: -16px;
    cursor: pointer;
    background: rgba(255,255,255,0.5) center no-repeat url("/assets/tracking/images/resultset_previous.png");
}
.left-folding-window-fold-button-${id}:hover {
    /*
    opacity: 0.8;
    */
    background-color: rgba(255,255,255,0.65);
}