.comet-state-indicator-image {
    width: 16px;
    height: 16px;
}
.connected {
    background-image: url("/assets/tracking/images/connect.png");
}
.disconnected {
    background-image: url("/assets/tracking/images/disconnect.png");
}
