.window {
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    background-color: white; /* rgba(255,255,255,0.75); */
    padding: 19px 0 0 0; /*18px header height + 5px padding*/
    font-size: 12pt;
    color: #222222;
    transition: height 0.3s;
}

.fold {
    padding-top: 18px;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.window-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 18px;
    border-bottom: 1px solid #d3d3d3;
}
.dragging {
    cursor: move;
}
.window-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 29px;
    font-size: 10pt;
    /*font-weight: bold;*/
    color: #222222;
    overflow: hidden;
}
.window-title div {
    height: 100%;
}
.window-close-button {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 9px;
    height: 9px;
    background-image: url("/assets/tracking/images/close.png");
    cursor: pointer;
}
.window-fold-button {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-image: url("/assets/tracking/images/fold.png");
}

.fold .window-fold-button {
    background-image: url("/assets/tracking/images/unfold.png");
}

.window-content {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overflow-y: auto;
}
.hidden {
    display: none;
}
.window-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-right: 10px solid #aaaaaa;
}
.fold .window-resize-handle {
    display: none;
}