<div class="window" data-dojo-attach-event="onclick:focusWindow">
    <div class="window-header" data-dojo-attach-point="header">
        <div class="window-title">
            <div>${windowTitle}</div>
        </div>
        <div class="window-fold-button" data-dojo-attach-event="onclick:toggleFold"></div>
        <div class="window-close-button" data-dojo-attach-event="onclick:closeWindow"></div>
    </div>
    <div class="window-resize-handle hidden" data-dojo-attach-point="resizeHandle"></div>
    <div data-dojo-attach-point="containerNode"></div>
</div>