<div class="tracker-info">
    <table style="width: 100%;">
        <tr class="tracker-id">
            <td>ID:</td>
            <td>${tracker.id}</td>
        </tr>
        <tr class="tracker-speed">
            <td>${nls.speedField}:</td>
            <td data-dojo-attach-point="speedNode"></td>
        </tr>
        <tr class="tracker-heading">
            <td>${nls.headingField}:</td>
            <td data-dojo-attach-point="headingNode"></td>
        </tr>
        <tr class="tracker-latitude">
            <td>${nls.latitudeField}:</td>
            <td data-dojo-attach-point="latitudeNode"></td>
        </tr>
        <tr class="tracker-longitude">
            <td>${nls.longitudeField}:</td>
            <td data-dojo-attach-point="longitudeNode"></td>
        </tr>
        <tr class="tracker-altitude">
            <td>${nls.altitudeField}:</td>
            <td data-dojo-attach-point="altitudeNode"></td>
        </tr>
        <tr class="tracker-address">
            <td>${nls.address}</td>
            <td data-dojo-attach-point="addressNode"></td>
        </tr>
        <!--
        <tr class="tracker-state">
            <td>${nls.trackerStateField}:</td>
            <td data-dojo-attach-point="stateNode"></td>
        </tr>
        -->
        <tr class="tracker-timestamp">
            <td>${nls.lastEventField}:</td>
            <td data-dojo-attach-point="timestampNode"></td>
        </tr>
    </table>
</div>