<div class="tracker-view">
    <div data-dojo-attach-point="mapNode" class="tracker-view-map"></div>
    <div class="tracker-view-buttons">
        <div title="${nls.followTrackerTooltip}"
             class="tracker-view-button follow-button"
             data-dojo-attach-point="followButton"
             data-dojo-attach-event="onclick:enableFollow"></div>
        <div title="Tracker info" class="tracker-view-button info-button" data-dojo-attach-event="onclick:showInfo"></div>
        <div title="Track" class="tracker-view-button log-button" data-dojo-attach-event="onclick:showTrack"></div>
    </div>
    <div class="tracker-view-status" data-dojo-attach-point="statusNode"></div>
</div>