.follow-button {
    background-image: url("/assets/tracking/images/eye.png");
}
.info-button {
    background-image: url("/assets/tracking/images/information.png");
}
.log-button {
    background-image: url("/assets/tracking/images/vector.png");
}
.tracker-view {
    position: relative;
    overflow: hidden;
}
.tracker-view-map {
    width: 200px;
    height: 200px;
}
.tracker-view-buttons {
    position: absolute;
    top: 0;
    right: 1px;
    width: 32px;
    background-color: rgba(255,255,255,0.75);
}
.tracker-view-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.tracker-view-button:hover {
    opacity: 0.8;
}
.tracker-view-status {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.75);
    font-size: 9pt;
    padding: 3px;
    word-wrap: normal;
}