.tracker-list {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overflow-y: auto;
}
.tracker-name {
    font-weight: bold;
}
.tracker-name:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tracker-group {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}
.state-indicator {
    width: 11px;
    height: 11px;
    display: inline-block;
    opacity: 1;
}
.offline {
    background-image: url("/assets/tracking/images/offline.png");
}
.online {
    background-image: url("/assets/tracking/images/online.png");
}
.delayed {
    background-image: url("/assets/tracking/images/delayed.png");
}
