
body, div, span, li, td, a, p {
    font-family: sans-serif;
    font-size: 12pt;
    color: #222222;
}

h1 {
    margin: 0.5em 0 0.5em 1em;
    color: #444444;
}

.workspace {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
}
.map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.button {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 1;
}

div.label {
    position: absolute;
    top: -16px;
    left: 24px;
    background-color: rgba(255,255,255,0.5);
    font-size: small;
    font-weight: bold;
    padding: 3px;
    border-radius: 2px;
    /*
    border: 1px solid #aaaaaa;
    */
    color: #444444;
}

.tracker-list-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    z-index: 10;
}

.reports-button {
    position: absolute;
    top: 5px;
    left: 90px;
    width: 80px;
    z-index: 10;
}

.connection-state-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255,255,255,0.6);
    border-radius: 2px;
    margin: 5px;
    padding: 3px;
}