<div>
    <table class="dijitDialogPaneContentArea">
        <tr>
            <td><label for="AdminTrackerDialogName">${nls.nameField}</label></td>
            <td><input id="AdminTrackerDialogName"
                       data-dojo-type="dijit/form/TextBox"
                       data-dojo-attach-point="nameField"/></td>
        </tr>
        <tr>
            <td><label for="AdminTrackerDialogType">${nls.trackerTypeField}</label></td>
            <td>
                <select id="AdminTrackerDialogType"
                    data-dojo-type="dijit/form/Select"
                    data-dojo-attach-point="typeField">
                    <option value="null">None</option>
                    <option value="car">Car</option>
                    <option value="container">Container</option>
                    <option value="man">Man</option>
                    <option value="motorcycle">Motorcycle</option>
                    <option value="truck">Truck</option>
               </select>
            </td>
        </tr>
    </table>

    <div class="dijitDialogPaneActionBar">
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:saveClick">Save</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:cancelClick">Cancel</button>
    </div>

</div>