<div class="track-dialog">
    <div class="track-depth">
        ${nls.forPeriod}
        <div class="track-depth-select"><input name="range" type="radio" data-dojo-type="dijit/form/RadioButton" value="1800"
                    data-dojo-attach-event="onClick:queryLog" checked="checked"/>${nls.halfOfHour}</div>
        <div class="track-depth-select"><input name="range" type="radio" data-dojo-type="dijit/form/RadioButton" value="3600"
                    data-dojo-attach-event="onClick:queryLog" />${nls.oneHour}</div>
        <div class="track-depth-select"><input name="range" type="radio" data-dojo-type="dijit/form/RadioButton" value="10800"
                    data-dojo-attach-event="onClick:queryLog" />${nls.threeHours}</div>
        <div class="track-depth-select"><input name="range" type="radio" data-dojo-type="dijit/form/RadioButton" value="32400"
                    data-dojo-attach-event="onClick:queryLog" />${nls.nineHours}</div>
        <div class="track-depth-select"><input name="range" type="radio" data-dojo-type="dijit/form/RadioButton" value="86400"
                    data-dojo-attach-event="onClick:queryLog" />${nls.twentyFourHours}</div>
    </div>
    <div class="track-time">
        ${nls.upon}
        <div class="track-time-select"><input name="period" type="radio" data-dojo-type="dijit/form/RadioButton" value="now"
                    data-dojo-attach-event="onClick:periodChange" checked="checked"/>${nls.now}</div>
        <div class="track-time-select"><input name="period" type="radio" data-dojo-type="dijit/form/RadioButton" value="selected"
                    data-dojo-attach-event="onClick:periodChange" /></div>
        <div class="track-time-select"><input name="date" type="date" data-dojo-type="dijit/form/DateTextBox"
                    data-dojo-attach-point="dateSelect" data-dojo-attach-event="onChange:queryLog"/></div>
        <div class="track-time-select"><input name="time" type="time" data-dojo-type="dijit/form/TimeTextBox"
                    data-dojo-attach-point="timeSelect" data-dojo-attach-event="onChange:queryLog"/></div>
    </div>
</div>