.parking-icon-outer {
    background-color: white;
    border: 1px solid blue;
    border-radius: 4px;
    height: 16px;
    width: 16px;
    position: absolute;
}
.parking-icon-inner {
    background-color: blue;
    border-radius: 3px;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 1px;
    left: 1px;
}
.parking-icon-text {
    color: white;
    font-size: 8pt;
    font-weight: bold;
    position: absolute;
    left: 3px;
}
.track-point-icon {
    border-radius: 2px;
    background-color: darkblue;
}