.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.controls {
    position: absolute;
    top: 0.5em;
    left: 2em;
    z-index: 100;
}

button {
    display: inline-block;
}