<form class="login-dialog" action="#" onsubmit="return false;">
    <table style="width:100%;">
        <tr>
            <td>${nls.loginField}:</td>
            <td>
                <input class="login-field"
                       style="width:100%;"
                       type="text"
                       placeholder="username@domain"
                       data-dojo-type="dijit/form/"
                       data-dojo-attach-point="loginField"/>
            </td>
        </tr>
        <tr>
            <td>${nls.passwordField}:</td>
            <td>
                <input class="password-field" style="width:100%;" type="password" data-dojo-attach-point="passwordField"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="${nls.loginButton}" class="login-button"
           data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:doLoginPassword"/>
    <input type="submit" value="Google" class="login-button openid-button"
           data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:doLoginWithGoogle"/>
</form>