@(moduleName: String, devRequire: Seq[String] = Nil, devCompiled: Boolean = false, controller: Option[String] = None)
@defining(play.api.Play.maybeApplication.exists(_.mode == play.api.Mode.Prod)) { isProduction =>
    @if(isProduction || devCompiled) {
        <script src="@routes.Assets.at("modules/" + moduleName + (if (devCompiled) ".uncompressed.js" else ""))"></script>
    } else {
        <script>
            var dojoConfig = {
                deps: [@for(req <- devRequire) {"@req",}"dojo/parser"],
                parseOnLoad: true
            }
        </script>
        <script src="@routes.Assets.at("dojo/dojo.js")"></script>
    }
    @controller match {
        case Some(controllerName) => {
            <script>
                require(['@controllerName'], function(controller) {
                    (new controller()).startup();
                });
            </script>
        }
        case None => {}
    }
}