.report-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.report-control-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 345px;
    overflow: auto;
}

.report-output-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 350px;
    right: 0;
    overflow: auto;
    border: 1px solid #777777;
}

.report-param-input {
    width: 100%;
}