<div class="report-container">
    <div class="report-control-area">
        <table style="width: 100%; height: 100%;">
            <tr style="height: 1em;">
                <td>${nls.startPeriodField}:</td>
                <td><input class="report-param-input"
                           name="start"
                           type="date"
                           data-dojo-type="dijit/form/DateTextBox"
                           data-dojo-attach-point="startPeriodField"
                        /></td>
            </tr>
            <tr style="height: 1em;">
                <td>${nls.endPeriodField}:</td>
                <td><input class="report-param-input"
                           name="end"
                           type="date"
                           data-dojo-type="dijit/form/DateTextBox"
                           data-dojo-attach-point="endPeriodField"
                        /></td>
            </tr>
            <tr>
                <td colspan="2" style="vertical-align: top; position: relative;">
                    <div style="width: 100%; height: 100%; overflow: auto; box-sizing: border-box; -moz-box-sizing: border-box;"
                         data-dojo-attach-point="trackerSelect" data-dojo-type="dijit/Fieldset">
                        <legend>${nls.trackerListTitle}</legend>
                    </div>
                </td>
            </tr>
            <tr style="height: 1em;">
                <td colspan="2">
                    <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: generateReport">${nls.generateReportButton}</button>
                    <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: generatePdf">PDF</button>
                    <button type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: generateXls">Excel</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="report-output-area" data-dojo-attach-point="reportNode"></div>
</div>