@()(implicit lang: Lang)
@template(title = Messages("page.adminTrackers"), moduleName = "admin-trackers.js", devCompiled = false) {
    <div data-dojo-type="tracking/ui/AppBar"></div>
    <div class="workspace">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td>
                    <h1 class="title">@Messages("page.adminTrackers")</h1>
                </td>
            </tr>
            <tr>
                <td style="height: 100%">
                    <table style="width: 100%; height: 100%;">
                        <tr>
                            <td style="width: 70%; height: 100%">
                                <table style="width: 100%; height: 100%;">
                                    <tr>
                                        <td><div data-dojo-type="tracking/AdminTrackersToolbar"></div></td>
                                    </tr>
                                    <tr>
                                        <td style="height: 100%">
                                            <div style="width: 100%; height: 100%; position: relative;"
                                                data-dojo-type="tracking/AdminTrackersGrid"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 2em; vertical-align: middle"><div data-dojo-type="tracking/GroupTrackerButtons"></div></td>
                            <td style="width: 30%; height: 100%">
                                <table style="width: 100%; height: 100%;">
                                    <tr>
                                        <td><div data-dojo-type="tracking/AdminGroupsToolbar"></div></td>
                                    </tr>
                                    <tr>
                                        <td style="height: 100%">
                                            <div style="width: 100%; height: 100%; position: relative;"
                                            data-dojo-type="tracking/AdminGroupsGrid"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}