@()(implicit lang: Lang)
@template(title = Messages("page.dashboard"), moduleName = "dashboard.js", devCompiled = false) {
    <style>
        .nav-container {
        position: absolute;
        width: 106px;
        top: 0;
        bottom: 0;
        padding: 5px;
        }
        .dashboard-container {
        position: absolute;
        left: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
        }
        .nav-button {
        width: 96px;
        padding-top: 96px;
        background-repeat: no-repeat;
        text-align: center;
        display: block;
        }
        .nav-button:hover {
        opacity: 0.8;
        }
        .map-view-link {
        background-image: url("/assets/tracking/images/mapview.png");
        }
        .mileage-report-link {
        background-image: url("/assets/tracking/images/report.png");
        }
    </style>
    <div data-dojo-type="tracking/ui/AppBar"></div>
    <div class="workspace">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td>
                    <h1 class="title">@Messages("page.dashboard")</h1>
                </td>
            </tr>
            <tr>
                <td style="height: 100%">
                    <div style="width: 100%; height: 100%; position: relative;" data-dojo-type="tracking/DashboardGrid"></div>
                </td>
            </tr>
        </table>
    </div>
}
