@(reportName: String)(implicit lang: Lang)
@template(title = Messages("report." + reportName), moduleName = "reports/" + reportName + ".js", devCompiled = false) {
    <div data-dojo-type="tracking/ui/AppBar"></div>
    <div style="position: absolute; top:0; bottom: 0; left:0; right: 0;">
        <table style="width: 100%; height: 100%">
            <tr>
                <td><h1>@Messages("report." + reportName)</h1></td>
            </tr>
            <tr>
                <td style="height: 100%">
                    <div data-dojo-type="tracking/reports/@reportName"></div>
                </td>
            </tr>
        </table>
    </div>
}