@()(implicit lang: Lang)
@template(title = Messages("page.mapview"), moduleName = "tracking.js", devRequire = Seq("tracking/MapView"),
    controller = Some("tracking/MapView"), devCompiled = false) {
    <div data-dojo-type="tracking/ui/AppBar"></div>
    <div class="workspace" data-dojo-type="tracking/ui/Workspace">
        <div class="connection-state-indicator" data-dojo-type="tracking/ui/StateIndicator"></div>
        <div data-dojo-type="tracking/TrackerMap" class="map"></div>
        <div data-dojo-type="tracking/ui/LeftFoldingWindow">
            <div data-dojo-type="tracking/TrackerList"></div>
        </div>
    </div>
}